body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  2% 6%;
    height: 180px;    
}

.nav-bar{
    flex: 2;
    text-align: right;
}

.nav-bar ul li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 20px;
   
}

.nav-bar ul li a {
    color: black;
    
}
.packages {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}
.package {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.package h3 {
    margin-top: 0;
}
.package-item {
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Adding border */
    border-radius: 5px; /* Adding border radius */
    padding: 10px; /* Adding padding */
}
.ft{
    box-sizing: border-box;
    background-color: #b25b4d;
    padding: 40px 0;
  
  }
  
  .container{
    margin: 2px;
  }
  
  .space{
    display: flex;
    flex-wrap: wrap;
  }
  
  .ft-all{
    margin-right: 40px;
    color: white;
  
  }
  
  .ft-all ul li a{
    color: white;
  }
  
  .ft-all2{
    margin-right: 40px;
    color: white;
  }
  
  .ft-all3{
    margin-right: 40px;
    color: white;
  }
  
  .ft-all3 .socials a{
    margin:  0 15px 15px 0;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
    font-size: 30px;
  }
  
  .ft-all3 p{
    margin: 10px;
  }
  